body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather Sans', serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #DDDDDD;
  border-width: 5px;
  width: 10%;
}
h1 {
  color:#66BFBF;
  font-family: 'Sacramento', cursive;
  font-size:90px;
  margin-top:100px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-size:2.5rem;
  font-weight:normal;
}
h3 {
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
}
p {
  color:#40514E;
  line-height: 2;
}

/* ------------------------------------ */

.hello {
  margin-top: 5px;
}
.profile_intro {
  width:40%;
  margin:auto;
}
.Denis {
  width:350px;
  height:350px;
  opacity:1;
  position: absolute;
  border-radius: 130px;
  border:5px solid;
  border-color:#66BFBF;
}
.Denis3 {
  width:350px;
  height:350px;
  position:relative;
  opacity:0;
  border-radius: 130px;
  border:5px solid;
  border-color:#66BFBF;
}
.Denis3:hover {
  opacity:1;
}

/* ------------------------------------ */
.skill-row {
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}
/* ------------------------------------ */
.teachings {
  height:171px;
  width: 27%;
  float:left;
  margin-right: 30px;
}
.comp-gif {
  height:171px;
  width:27%;
  float:right;
  margin-left: 30px;
}
.QA-png {
  height:171px;
  width:27%;
  float:left;
  margin-right: 30px;
}
/* ------------------------------------ */
.span1 {
  text-decoration: underline;
  font-style:italic;
}
.top_container {
  background-color:#EAF6F6;
  position:relative;
  padding-top:100px;
}
.profile {
  padding-top:10px;
}
.middle-container {
  background-color:#F9F3EE;
  padding: 50px 0;
}
.bottom-container {
  background-color:#66BFBF;
  padding:20px;
  word-spacing:2px;
}

.bottom_p {
  color: white;
  font-size: 0.75rem;
  padding: 15px 0;
}
.footer-link {
  color:#11999E;
  text-decoration: none;
}
.footer-link:hover {
  color:black;
}
.top-cloud {
  position:absolute;
  right:300px;
  top:50px;
}
.bottom-cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}
.contact-me {
  padding-bottom: 5px;
}
/* ------------------------------------ */

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #000000;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cdcfc;
  text-decoration: none;
}
